<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649285137728-85f0fe366rr8m504eivufktbg0i5nf3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649285137728-85f0fe366rr8m504eivufktbg0i5nf3r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>649285137728-ra5k7up76q9fvoauveschtqu1ugv56ng.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB59chRWgJTFbViaObXD7UmpuIFo1eAR_0</string>
	<key>GCM_SENDER_ID</key>
	<string>649285137728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ietvitApp</string>
	<key>PROJECT_ID</key>
	<string>iet-events-b7788</string>
	<key>STORAGE_BUCKET</key>
	<string>iet-events-b7788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649285137728:ios:e1cc0aba32cc63dfb1f6a5</string>
	<key>DATABASE_URL</key>
	<string>https://iet-events-b7788.firebaseio.com</string>
</dict>
</plist>